@charset "UTF-8";
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
	font-family: 'omyu_pretty';
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}
body{
	background-color: #F6F6F6;
}
.scheduleContainer{
	background-color: white;
    border-radius: 12px;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}
.container{
	margin-top: 150px;
}
.container > h1{
    margin: 20px 0;
}
.container p{
	font-size: 1rem;
	margin: 10px;
}
.childName{
	color: #01b399;
}
.sl_btn{
	width: 50px;
    height: 30px;
    color: white;
    background: #01b399;
    border-radius: 5px;
}
.h4_date{
	border-bottom: 1px solid lightgray;
	padding-bottom: 5px;
	font-size: 1.2rem;
}
.profileimage{
	cursor: pointer;
}