@charset "UTF-8";
   .main_4 {
        left: 20%;
            background:#D8E0A5;
            margin-top: -20px;     
            width:100%;
            height: 100vh;
            display: flex;
            align-items: center;
            position: relative;
            
        }

        .main_4 ul {
            display: flex;
            width: 100vw;
        }

        .main_4 li:first-child {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 555px;
        }

        .main_4 li:first-child .top h1 {
            padding-bottom: 5px;
            color: #149473;
            font-weight: 600;
        }

        .main_4 li:first-child .top p {
            color: #154726;
            line-height: 1.3;
        }

        .main_4 li:first-child .top p span {
            font-weight: 700;
        }

        .main_4 li:first-child .bottom {
            padding-bottom: 50px;
        }

        .main_4 li:first-child .bottom p {
            color: #154726;
            padding-bottom: 12px;
            line-height: 1.6;
            padding-left: 2px;
            font-weight: 400;
            letter-spacing: 0px;
        }

        .main_4 li:first-child .bottom a {
            color: #149473;
            display: inline-flex;
            align-items: center;
            font-weight: 500;
            position: relative;
        }

        .main_4 li:first-child .bottom a::after {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 2px;
            background: #149473;
            bottom: -2px;
            transition-duration: 0.5s;
            margin-right: 25%;
            right: 0;
        }

        .main_4 li:first-child .bottom a:hover::after {
            width: 75%;
            left: 0;
        }

        .main_4 li:first-child .bottom a img {
            padding-left: 10px;
        }

        .main_4 li:not(:first-child) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 8%;
            min-width: 22%;
            justify-content: space-between;
        }

        .main_4 li:not(:first-child) .img_box {
            border-radius: 50px;
            overflow: hidden;
        }

        .main_4 li:not(:first-child) .img_box:hover img {
            transform: scale(1.1);
        }

        .main_4 li:not(:first-child) .img_box img {
            width: 100%;
            max-width: 420px;
            height: 250px;
            display: block;
            transition: all 0.5s;
        }

        .main_4 li:not(:first-child) figure {
            padding: 40px 0 35px;
        }

        .main_4 li:not(:first-child) a {
            display: inline-block;
            position: relative;
        }