<!DOCTYPE html>
<html lang="ko"><head>
    <meta charset="utf-8">
    
    <title>헤더</title>
    <link rel="stylesheet" href="http://nenia.kr/theme/responsive_nenia/css/default.css?ver=191202">
    <link rel="stylesheet" href="http://nenia.kr/js/font-awesome/css/font-awesome.min.css?ver=191202">
    <link rel="stylesheet" href="http://nenia.kr/theme/responsive_nenia/css/aos.css?ver=191202">
    <link rel="stylesheet" href="http://nenia.kr/theme/responsive_nenia/include/common.css?ver=191202">
    <link rel="stylesheet" href="http://nenia.kr/theme/responsive_nenia/include/source/mobile_navi.css?ver=191202">

    <script>
    // 자바스크립트에서 사용하는 전역변수 선언

    </script>
    <script src="http://nenia.kr/js/jquery-1.12.4.min.js?ver=191202"></script>
    <script src="http://nenia.kr/js/jquery-migrate-1.4.1.min.js?ver=191202"></script>
    <script src="http://nenia.kr/js/common.js?ver=191202"></script>
    <script src="http://nenia.kr/js/wrest.js?ver=191202"></script>
    <script src="http://nenia.kr/js/placeholders.min.js?ver=191202"></script>
    </head>
    <body style="" data-aos-easing="ease-in-out-sine" data-aos-duration="1200" data-aos-delay="0" cz-shortcut-listen="true">

    <div id="total_wrap">
        <div id="wrap">
    
            <div id="wrap_header">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
    
    <script type="text/javascript">
        $("document").ready(function () {
            // $(window).scroll(function () {
            // 	if ($(this).scrollTop() > 0) {
            // 		$('.header_t').addClass("f-nav");
            // 		$('.header_t').removeAttr( 'style' );
            // 	} else {
            // 		$('.header_t').removeClass("f-nav");
            // 		$('.header_t').removeAttr( 'style' );
            // 	}
            // 	var sub_leftojb = $('.header_t').offset();
            // 	var sub_left_hei = $('.header_t').height();
            // 	var sub_y = parseInt(sub_leftojb.top) + parseInt(sub_left_hei);
            // });
            
            // let lastScroll = 0;
            // $(window).scroll(function () {
            // 	let scrollTop = $(this).scrollTop();
            // 	if (scrollTop > lastScroll) {
            // 		$('.header_t').removeClass("f-nav");
            // 		$('.header_t').removeAttr( 'style' );
            // 	} else {
    
            // 		$('.header_t').addClass("f-nav");
            // 		$('.header_t').removeAttr( 'style' );
            // 	}
            // 	lastScroll = scrollTop;
    
            // 	var sub_leftojb = $('.header_t').offset();
            // 	var sub_left_hei = $('.header_t').height();
            // 	var sub_y = parseInt(sub_leftojb.top) + parseInt(sub_left_hei);
            // });
            let lastScroll = 0;
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
          if (prevScrollpos > currentScrollPos) {
            if(!$(".year_slide").hasClass('f-nav2')){
              $(".header_t").css({"top":"0"});
            }
          } else {
            if( $(window).scrollTop() > 100 ) {
              $(".header_t").css({"top":"-190px"});
            }
          }
          prevScrollpos = currentScrollPos;
        }
        });
    </script>
    
    
    <style>
    </style>
    <div class="pushy pushy-right pushy_white" style="visibility: visible;">
        <!--  -->
        <div class="pusy_inner">
    
        <button type="button" class="navbar-toggle collapsed menu-btn close_button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <a href="#null"><i class="xi-close"></i></a>
            </button>
    
    
            <nav class="mo_head_tab">
                <ul>
                                                                <li class="pushy-submenu pushy-submenu-closed">
                                <a href="http://nenia.kr/page/11">매칭하기</a>
                                <ul>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/11">NENIA WAY</a></li>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/12">우리밀 이야기</a></li>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/13">세월의 네니아</a></li>
                                                                </ul>
                            </li>
                                                                                    <li class="pushy-submenu pushy-submenu-closed">
                                <a href="http://nenia.kr/page/21">사업소개</a>
                                <ul>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/21">네니아</a></li>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/22">친환경 급식</a></li>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/bbs/board.php?bo_table=23&amp;sca=메인">전국 급식 사업단</a></li>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/24">네니아브레드</a></li>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/25">계열사업</a></li>
                                                                </ul>
                            </li>
                                                                                    <li class="pushy-link"><a href="http://nenia.kr/31">네니아이야기</a></li>
                                                                                    <li class="pushy-submenu pushy-submenu-closed">
                                <a href="http://nenia.kr/41">고객지원</a>
                                <ul>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/41">공지사항</a></li>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/42">FAQ</a></li>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/43">1:1문의</a></li>
                                                                </ul>
                            </li>
                                                    </ul>
            </nav>
            <!--  -->
    
            <section class="mo_btn">
                <div class="down_btn">
                    <a href="#null">카탈로그 <img src="http://nenia.kr/theme/responsive_nenia/include/img/download.png" alt=""></a>
                </div>
                <div class="store_btn">
                    <a href="#null">공식스토어</a>
                </div>
                <a class="language_btn_mo" href="#null">EN</a>
            </section>
        </div>
    </div><header class="header_t" id="header_t_id" style="top: 0px;">
        <div class="header_gnb"><script>
        /* 메뉴 시작*/
    $(function(){
        $('.menu').on('mouseover',function(){
            $(this).find('.snb_menu').stop().slideDown(300);
        });
        $('.menu a').on('focus',function(){
            $(this).siblings('.snb_menu').stop().slideDown(300);
        });
        $('.menu').on('mouseleave',function(){
            $(this).find('.snb_menu').stop().slideUp(300);
        });
        $('*:not(".menu *")').on('focus',function(){
            $('.snb_menu').stop().slideUp(300);
        });
    });
    
    </script>
    <div class="gnb">
        <ul class="main_menu">
                <li class="menu menu1 ">
                <a href="http://nenia.kr/page/11">회사소개</a>
                            <ul class="snb_menu"><!--sub1 -->
                                    <li class="sub_menu "><a href="http://nenia.kr/page/11">NENIA WAY</a></li>
                                    <li class="sub_menu "><a href="http://nenia.kr/page/12">우리밀 이야기</a></li>
                                    <li class="sub_menu "><a href="http://nenia.kr/page/13">세월의 네니아</a></li>
                                </ul>
                        </li>
                <li class="menu menu2 ">
                <a href="http://nenia.kr/page/21">사업소개</a>
                            <ul class="snb_menu"><!--sub1 -->
                                    <li class="sub_menu "><a href="http://nenia.kr/page/21">네니아</a></li>
                                    <li class="sub_menu "><a href="http://nenia.kr/page/22">친환경 급식</a></li>
                                    <li class="sub_menu "><a href="http://nenia.kr/bbs/board.php?bo_table=23&amp;sca=메인">전국 급식 사업단</a></li>
                                    <li class="sub_menu "><a href="http://nenia.kr/page/24">네니아브레드</a></li>
                                    <li class="sub_menu "><a href="http://nenia.kr/page/25">계열사업</a></li>
                                </ul>
                        </li>
                <li class="menu menu3 ">
                <a href="http://nenia.kr/31">네니아이야기</a>
                        </li>
                <li class="menu menu4 ">
                <a href="http://nenia.kr/41">고객지원</a>
                            <ul class="snb_menu" style="display: none; height: 133px; padding-top: 5px; margin-top: 0px; padding-bottom: 5px; margin-bottom: 0px;"><!--sub1 -->
                                    <li class="sub_menu "><a href="http://nenia.kr/41">공지사항</a></li>
                                    <li class="sub_menu "><a href="http://nenia.kr/page/42">FAQ</a></li>
                                    <li class="sub_menu "><a href="http://nenia.kr/page/43">1:1문의</a></li>
                                </ul>
                        </li>
            </ul>
    </div></div>
        
        <div class="header_logo">
            <a href="http://nenia.kr">
                <img src="http://nenia.kr/theme/responsive_nenia/include/img/top_logo.svg" alt="" title="">
            </a>
        </div>
    
        <div class="header_btn">
            <!--다국어 버튼-->
            <div class="language_btn">
                <a href="#null" class="language_trigger">
                    KOR
                </a>
                <ul class="language_list">
                    <li><a href="http://nenia.kr/en/">ENG</a></li>
                </ul>
                <script>
                    $(function(){
                        $('.language_trigger').on('click',function(){
                            $('.language_trigger').toggleClass('on')
                            $('.language_list').slideToggle();
                            $('.language_trigger').find('img').toggleClass('on');
                        })
                    })
                </script>
            </div>
            <a class="down_btn font-8" href="http://nenia.kr/theme/responsive_nenia/include/img/nenia_catalog.pdf" download="">
                <div class="a_bg"></div>
                <div class="label">카탈로그<img src="http://nenia.kr/theme/responsive_nenia/include/img/download.png" alt=""></div>
            </a>
            <a class="store_btn font-8" href="https://econenia.co.kr/" target="_blank">
                <div class="a_bg"></div>
                <div class="label">공식스토어</div>
            </a>
            <!--다국어 버튼-->
    
            <!--햄버거 버튼-->
            <div class="mo_nav" role="navigation">
                <button type="button" class="navbar-toggle collapsed menu-btn " data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
            </div>
            <!--햄버거 버튼-->
    
            <!--로그인 버튼-->
                <div class="login_btn" style="display:none;">
                                    <!-- 로그인 이전 -->
                    <a href="http://nenia.kr/bbs/login.php">로그인</a>
                                    <a href="http://nenia.kr/bbs/register.php">회원가입</a>
                                </div>
            <!--로그인 버튼-->
        </div>
    </header>