<!DOCTYPE html>
<html lang="ko"><head>
    <meta charset="utf-8">
    
    <title>헤더</title>
    <link rel="stylesheet" href="http://nenia.kr/theme/responsive_nenia/css/default.css?ver=191202">
    <link rel="stylesheet" href="http://nenia.kr/js/font-awesome/css/font-awesome.min.css?ver=191202">
    <link rel="stylesheet" href="http://nenia.kr/theme/responsive_nenia/css/aos.css?ver=191202">
    <link rel="stylesheet" href="http://nenia.kr/theme/responsive_nenia/include/common.css?ver=191202">
    <link rel="stylesheet" href="http://nenia.kr/theme/responsive_nenia/include/source/mobile_navi.css?ver=191202">

    </head>
    

    <div id="total_wrap">
        <div id="wrap">
    
            <div id="wrap_header">
                
    <style>
    </style>
    <div class="pushy pushy-right pushy_white" style="visibility: visible;">
        <!--  -->
        <div class="pusy_inner">
    
        <button type="button" class="navbar-toggle collapsed menu-btn close_button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <a href="#null"><i class="xi-close"></i></a>
            </button>
    
    
            <nav class="mo_head_tab">
                <ul>
                                                                <li class="pushy-submenu pushy-submenu-closed">
                                <a href="http://nenia.kr/page/11">매칭하기</a>
                                <ul>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/11">NENIA WAY</a></li>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/12">우리밀 이야기</a></li>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/13">세월의 네니아</a></li>
                                                                </ul>
                            </li>
                                                                                    <li class="pushy-submenu pushy-submenu-closed">
                                <a href="http://nenia.kr/page/21">사업소개</a>
                                <ul>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/21">네니아</a></li>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/22">친환경 급식</a></li>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/bbs/board.php?bo_table=23&amp;sca=메인">전국 급식 사업단</a></li>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/24">네니아브레드</a></li>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/25">계열사업</a></li>
                                                                </ul>
                            </li>
                                                                                    <li class="pushy-link"><a href="http://nenia.kr/31">네니아이야기</a></li>
                                                                                    <li class="pushy-submenu pushy-submenu-closed">
                                <a href="http://nenia.kr/41">고객지원</a>
                                <ul>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/41">공지사항</a></li>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/42">FAQ</a></li>
                                                                        <li class="pushy-link"><a href="http://nenia.kr/page/43">1:1문의</a></li>
                                                                </ul>
                            </li>
                                                    </ul>
            </nav>
            <!--  -->
    
            <section class="mo_btn">
                <div class="down_btn">
                    <a href="#null">카탈로그 <img src="http://nenia.kr/theme/responsive_nenia/include/img/download.png" alt=""></a>
                </div>
                <div class="store_btn">
                    <a href="#null">공식스토어</a>
                </div>
                <a class="language_btn_mo" href="#null">EN</a>
            </section>
        </div>
    </div><header class="header_t" id="header_t_id" style="top: 0px;">
        <div class="header_gnb"><script>
        /* 메뉴 시작*/
    $(function(){
        $('.menu').on('mouseover',function(){
            $(this).find('.snb_menu').stop().slideDown(300);
        });
        $('.menu a').on('focus',function(){
            $(this).siblings('.snb_menu').stop().slideDown(300);
        });
        $('.menu').on('mouseleave',function(){
            $(this).find('.snb_menu').stop().slideUp(300);
        });
        $('*:not(".menu *")').on('focus',function(){
            $('.snb_menu').stop().slideUp(300);
        });
    });
    
    </script>
    <div class="gnb">
        <ul class="main_menu">
                <li class="menu menu1 ">
                <a href="1">회사소개</a>
                           
                        </li>
                <li class="menu menu2 ">
                    <a href="">사업소개</a>                            
                        </li>
                <li class="menu menu3 ">
                    <a href="">시니어찾기</a>
                        </li>
                <li class="menu menu4 ">
                <a href="">문의하기</a>
        
                        </li>
            </ul>
    </div></div>
        
        <div class="header_logo">
            <a href="http://nenia.kr">
                <img src="/src/main/webapp/resources/image/logo.jpg" alt="" title="" width="140" style="border-radius: 12px;">
            </a>
        </div>
    
        <div class="header_btn">
            <!--다국어 버튼-->
            <div class="language_btn">

              
            </div>
            <a class="down_btn font-8" href="">
                <div class="a_bg"></div>
                <div class="label" ><img src="" alt="">로그인</div>
            </a>
            <a class="store_btn font-8" href="http" target="_blank">
                <div class="a_bg"></div>
                <div class="label">회원가입</div>
            </a>
            <!--다국어 버튼-->
    
    </header>