<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
						
<mapper namespace="user_mapper">

	<select id="select_user_list" resultType="UserDto">
		select * from user_info
	</select>
	
	<select id="select_user_list_by_id" resultType="UserDto"
										parameterType="UserDto">
		select * from user_info
				 where id = #{id}
	</select>
</mapper>
