<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="VARCHAR" />
	</settings>
<typeAliases>
	<typeAlias type="com.kids.dto.UserInfo_Dto" alias="UserInfo_Dto"/>
 		<typeAlias type="com.kids.dto.senior.SeniorDetailDto" alias="SeniorDetailDto"/>
         <typeAlias type="com.kids.dto.senior.SeniorScheduleDto" alias="SeniorScheduleDto"/>
		 <typeAlias type="com.kids.dto.image.ImageFileDTO" alias="ImageFileDTO" />
		<typeAlias type="com.kids.dto.certification.CertificationDTO" alias="CertificationDTO" />
		<typeAlias type="com.kids.dto.report.ReportUserDTO" alias="ReportUserDTO" />
		<typeAlias type="com.kids.dto.matching.MatchingDto" alias="MatchingDto" />
		<typeAlias type="com.kids.dto.matching.MailDto" alias="MailDto" />
		<typeAlias type="com.kids.dto.matching.MatchingDetailDto" alias="MatchingDetailDto" />
		<typeAlias type="com.kids.dto.parents.ParentsDetailDto" alias="ParentsDetailDto" />
		<typeAlias type="com.kids.dto.user.UserDto" alias="UserDto" />
    </typeAliases>
</configuration>
