<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="VARCHAR" />
	</settings>
	<typeAliases>
 <typeAlias type="com.kids.dto.senior.SeniorDetailDto" alias="SeniorDetailDto"/>
         <typeAlias type="com.kids.dto.senior.SeniorScheduleDto" alias="SeniorScheduleDto"/>
		 <typeAlias type="com.kids.dto.image.ImageFileDTO" alias="ImageFileDTO" />
		<typeAlias type="com.kids.dto.certification.CertificationDTO" alias="CertificationDTO" />
		<typeAlias type="com.kids.dto.report.ReportUserDTO" alias="ReportUserDTO" />
    </typeAliases>
</configuration>
